@charset "utf-8";

body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    background-color: rgb(254, 246, 235);
}

/* トピックパス設定*/
#topic_path {
    padding-left: 0;
}

#topic_path li {
    list-style-type: none;
    display: inline;
    font-size: 80%;
}

#topic_path li:after {
    padding: 0 10px;
    content: "\003E";
}

#topic_path li:last-child:after {
    content: none;
}

main {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 20px;
}


.two {
    display: flex;
    padding: 1% 0 1% 10%;
    gap: 15%;
    width: 100%;
    justify-content:start;
}

.three {
    display: flex;
    padding: 0 3%;
    gap: 15%;
    justify-content: space-between;
}

img {
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10%;
}

/* テーブルデザイン */
table {
    width: 100%;
    margin: auto;
    padding: 0 3%;
    border-spacing: 0;
}

table th,
table td {
    padding: 10px 20px;
    border-bottom: 1px solid #c9c2bc;
}

table th {
    text-align: center;
    font-weight: normal;
    width: 20%;
    padding: 1rem;
}

table td {
    text-align: left;
    padding: 1rem 0;
}