services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: portfolio-backend
    env_file:
      - ./backend/.env
    ports:
      - "8081:8080"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: portfolio-frontend
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    ports:
      - "3001:3001"
